<div class="shop-container d-flex flex-column justify-content-between">
{% for capsule in shop %}
    {% set caps = capsule.capsule %}
    {% set stock = capsule.stock %}
    {% set img =  asset('src/images/capsule/'~caps.type.slug~'.png') %}

    {% if loop.first %}
        {% set blockRedClosed = false %}
        {# OUVERTURE CONTAINER CAPSULE ROUGE #}
        <div id="capsules-rouge" class="d-flex flex-row justify-content-between">
    {% endif %}


    {% if caps.type.slug == 'jaune' and blockRedClosed is same as(false) %}
        {% set blockRedClosed = true %}
        </div>
        {# FERMETURE CONTAINER CAPSULE ROUGE ET OUVERTURE CONTAINER CAPSULE JAUNE #}
        <div id="capsules-jaune" class="d-flex flex-row justify-content-between flex-wrap">
    {% endif %}

    <div class="capsule {{ blockRedClosed ? 'col-3' : '' }} no-padding" data-id="{{ caps.id }}"
        title="">
        <div class="icon"><img src="{{ img }}" alt="{{ caps.slug }}" /></div>
        <div class="slug">{{ caps.name }}</div>
        <div class="stat">
            {% set statCaps = displayStat(caps) %}
            {{ dump(statCaps) }}
        </div>
        <div class="stock">Restant : {{ stock }}</div>
        <div class="btn btn-primary buy">Acheter</div>
    </div>

    {% if loop.last %}
        </div>
        {# FERMETURE CONTAINER CAPSULE JAUNE #}
    {% endif %}
{% endfor %}
    <span data-url="{{ path('game.buy.capsule') }}" class="ajax-url d-none"></span>
</div>